[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
kaggle = "*"
pandas = "*"
scikit-learn = "*"
tqdm = "*"
recommenders = "*"
pyspark = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
